name: Test

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  pull_request:
    types: [ opened ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ArtemMarchukInmost/google-sheets-action@main
        with:
          GOOGLE_CLIENT_ID: ${{secrets.GOOGLE_CLIENT_ID}}
          GOOGLE_CLIENT_SECRET: ${{secrets.GOOGLE_CLIENT_SECRET}}
          GOOGLE_REFRESH_TOKEN: ${{secrets.GOOGLE_REFRESH_TOKEN}}
          GOOGLE_SHEET_ID: 1HkQhrBlq39nfwh7AYmmKbvlkJm2bqBDbF01pmG5ujUk
          INPUT_FILE: ${{ github.workspace }}/.github/test.json
